<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container">
    <span class="navbar-text navbar-left">Copyright &copy; 2015 Books Manager</span>
    <%= link_to 'Larion.com', 'http://www.elarion.com',target: '_blank', class: 'navbar-text navbar-right'%>
  </div>
</nav>