<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container">
    <span class="navbar-text navbar-left"><%= t('.copyright') %></span>
    <%= link_to t('.larion_website'), 'http://www.elarion.com',target: '_blank', class: 'navbar-text navbar-right'%>
  </div>
</nav>