<nav class="navbar navbar-default" role="navigation">
	<div class="container">
		<div class="navbar-header">			
	      <%= link_to books_path, :class => 'navbar-brand' do %>
	      	<span class="glyphicon glyphicon-home"></span> Books Manager
	      <% end %>
		</div>
	</div>
</nav>