<div class="panel panel-primary listCategory">
  <div class="panel-heading">
    Listing Categories
  </div>
  <div class="panel-body">    
    <table class="table table-striped table-hover categoryTable display" data-source="<%= categories_url(format: "json") %>">
      <thead>
        <tr>
          <th>Name</th>
          <% if current_user.has_role? :admin %>
            <th>Edit</th>
            <th>Delete</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    <% if current_user.has_role? :admin %>
      <%= link_to new_category_path, class: 'btn btn-primary btn-md' do %>
        <span class="glyphicon glyphicon-plus"></span> <span id="new_category">New Category</span>
      <% end %>
    <% end %>
  </div>
</div>
<% if current_user.has_role? :admin %>
  <script>
    $(".categoryTable").dataTable({
      info: false,
      bProcessing: true,
      bServerSide: true,
      sAjaxSource: $('.categoryTable').data('source'),
      bLengthChange: false,
      aaSorting: [[0, 'asc']],
      aoColumns: [
          null,
          { "sWidth": "8%", "sClass": "alignCenter", "bSortable": false },
          { "sWidth": "8%", "sClass": "alignCenter", "bSortable": false }
        ]
    });
  </script>
<% else %>
  <script>
    $(".categoryTable").dataTable({
      info: false,
      bProcessing: true,
      bServerSide: true,
      sAjaxSource: $('.categoryTable').data('source'),
      bLengthChange: false,
      aaSorting: [[0, 'asc']], 
      aoColumns: [
          null
        ]
    });
  </script>
<% end %>